@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/Employee/LogIn">Log in</a>
    <br />
    <a href="/Employee/Index">Employee page</a>
    <br />
    <a href="/Department/displayDepartments">Department Page</a>
    <br />
    <a href="/Project/showProjects">Project Page</a>
</div>
