@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary m-2" href="/Employee/LogIn">Log in</a>
        <a class="btn btn-primary m-2" href="/Employee/Index">Employee page</a>
        <a class="btn btn-primary m-2" href="/Department/displayDepartments">Department Page</a>
        <a class="btn btn-primary m-2" href="/Project/showProjects">Project Page</a>
    </div>
</div>



@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/Employee/LogIn">Log in</a>
    <br />
    <a href="/Employee/Index">Employee page</a>
    <br />
    <a href="/Department/displayDepartments">Department Page</a>
    <br />
    <a href="/Project/showProjects">Project Page</a>
</div>*@
