@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Birthday Party</h1>
    <img src="https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Party photo" width="800px" height="500px" />
        <p>Hello my friend i invite you to attend my birthday party i will be very happy in your attendence</p>
        <br />
        <br />
        <a href="/Registration/Index">Register</a>
        <br />
        <br />
    </body>
</html>





